body {
    font-family: sans-serif;
}


.tooltip-inner {
    max-width: none;
}

.tooltip-inner p {
    margin-bottom: 2px;
}

.panel.exped-row-edit-panel > .panel-heading,
.planner-control-panels > div > .panel > .panel-heading,
.dlc-lab-control-panel.panel > .panel-heading {
    padding: 5px 10px;
}

.panel.exped-row-edit-panel > .panel-body,
.planner-control-panels > div > .panel > .panel-body,
.dlc-lab-control-panel.panel > .panel-body {
    padding: 5px;
}

.panel.exped-row-edit-panel .nav-tabs > li > a {
    padding: 5px 10px;
}

.planner-control-panels > div > .panel {
    display: flex;
    flex-direction: column;
}

.planner-control-panels > div > .panel > .panel-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
